# Server Config
PORT=5000

# Database
# If running local MongoDB, use this (make sure to start MongoDB service first):
MONGO_URI=mongodb://localhost:27017/veda-ai
# If using MongoDB Atlas, paste your connection string here:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/veda-ai

# Redis Configuration (For BullMQ queues)
# If running Redis locally:
REDIS_URL=redis://127.0.0.1:6379
# If using Cloud Redis (e.g. Upstash Redis / Redis Cloud), paste your URL here:
# REDIS_URL=rediss://default:your-password@your-upstash-endpoint.upstash.io:6379

# OpenAI AI Configuration (Mandatory)
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
